# Virtual Environment (Modul Python Lokal)
venv/
.venv/
env/
ENV/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Environment variables (Sangat penting agar tidak membocorkan API key/config privat)
.env

# File Data Besar (GitHub menolak file > 100MB, CSV Anda berukuran >140MB)
*.csv
*.xlsx
data/artikel_kesehatan.csv

# Folder database vektor lokal Qdrant
qdrant_storage/

# Checkpoint sementara
data/checkpoint.json
