langchain==0.3.7
langchain-community==0.3.5
langchain-ollama==0.3.3   # versi ini mendukung parameter 'think' untuk Qwen3
langchain-qdrant==0.2.0
qdrant-client==1.12.1
streamlit==1.40.1
sentence-transformers==3.3.1
rank_bm25==0.2.2         # untuk retrieval leksikal BM25 (Bab 11)
pandas==2.2.3
python-dotenv==1.0.1
pydantic==2.9.2
tqdm==4.67.0
